<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
                .error {
                    color: red;
                }
                ul{
                    list-style-type: none;
                }
                h1{
                    text-align: center;
                }
            </style>
    </head>
    <body>
        
        <a href="/blog">Main Blog Page</a> | <a href="/newpost">    Add Entry</a> | <a href="/logout">Logout</a> | <a href="/sign_up">SignUp</a> | <a href="/login">LogIn</a>
    
        {% block content %}
        {% endblock %}
    </body>
</html>